body {
    background-color: #525252;
}
#title {
    text-decoration: underline;
    color: black;
    font-family: crysis;
    text-align: center;
}
#content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #303030;
    border: 15px solid;
    border-color: #303030;
}
.subtitle {
    font-family: crysis;
    text-align: left;
}
div.content-unit {
    background-color: #636363;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 20px 20px 0px;
    border-color: black;
    border: 2px solid;
    margin-top: 5px;
    margin-bottom: 5px;
}
div.content-unit p {
    
}
@font-face {
    font-family: crysis;
    src: '../font/crysis.ttf';
}