body {
    background-color: #454545;
}
.public_project {
    color: #00bb00;
}
.private_project {
    color: #bb0000;
}
#title {
    text-decoration: underline;
    color: black;
    font-family: crysis;
    text-align: center;
}
#content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #303030;
    border: 15px solid;
    border-color: #303030;
}
.subtitle {
    font-family: crysis;
    text-align: left;
}
div.content-unit {
    background-color: #636363;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 20px 20px 0px;
    border: 2px solid;
    margin-top: 5px;
    margin-bottom: 5px;
}
div.content-unit.paused {
    border-color: yellow;
}
div.content-unit.active {
    border-color: green;
}
div.content-unit.stopped {
    border-color: red;
}
div.content-unit.finished {
    border-color: blue;
}
div.content-unit.undefined {
    border-color: black;
}
div.content-unit img {
    margin-top: 10px;
}
a:hover {
    color: #000000;
}
.subtitle a, .content-unit a{
    color: #303030;
}
#title a{
    color: #202020;
}
code {
    font: normal normal .8em/1.7 "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    padding: 0 5px 1px;
}
language {
    font-weight: bold;
}
.description-bottom {
    background-color: #808080;
    border: 2px solid;
    border-color: #303030;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 3px;
}
.description-top {
    background-color: #808080;
    border: 2px solid;
    border-color: #303030;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 3px;
}
@font-face {
    font-family: crysis;
    src: '../font/crysis.ttf';
}
