<!DOCTYPE html>
<html lang="en">
<head>
        {% if debug %}
        <meta http-equiv="refresh" content="1" >
        {% endif %}
        <title>{{ title }}</title>
        <link rel="stylesheet" href="stylesheet/base.css" type="text/css">
</head>
<body>
    <h1 id="title">Downloads</h1>
    <div id="content">
        {% for name, project in projects.items() %}
        <div class="content-unit">
            <h2 class="subtitle">
                {% if project.logo|length > 0 %}
                <img src="{{ project.logo }}" height="25px"/>
                {% endif %}
                <a href="{{ project.url }}">{{ name }}</a>
            </h2>
            <ul>
                {% for dlname, link in project["downloads"]|dictsort %}
                    <li class="download-link"><a href="{{ link }}">{{ dlname }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</body>
</html>