<html>
    <head>
        {% if debug %}
        <meta http-equiv="refresh" content="1" >
        {% endif %}
        <title>Projects</title>
        <link rel="stylesheet" href="stylesheet/base.css" type="text/css">
    </head>
    <body>
        <h1 id="title">Projects</h1>
        <div id="content">
            {% for name, project in projects.items() %}
            <div class="content-unit">
                {% if project.travis_page|length > 0 %}
                <a href="{{ project['travis_page'] }}">
                    <img src="{{ project['travis_state'] }}"/>
                </a>
                {% endif %}
                <h2 class="subtitle">
                    <a href="{{ project.url }}">{{ name }}</a>
                </h2>
                <ul>
                    {% if project["public"] %}
                        <li class="public_project">Public project</li>
                    {% else %}
                        <li class="private_project">Private project</li>
                    {% endif %}
                    <li>
                        Language: <language>{{ project["language"] }}</language>
                    </li>
                    <li>
                        Scope: {{ project["scope"] }}
                    </li>
                </ul>
                {% if project.desc|length > 0 %}
                Description:
                <div class="description-bottom">
                    {{ project.desc }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </body>
</html>